automations/ai-workflows/MCP Chat Session
{
  "name": "MCP Chat Session",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -816,
        432
      ],
      "id": "099fefc8-68f9-486e-a9de-fbb16e4cc329",
      "name": "When chat message received",
      "webhookId": "052b6dd4-12d9-4259-ab31-d7ae5cec9a58"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query.message }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\nFor context time is {{ now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -544,
        432
      ],
      "id": "fa3249f9-73fd-4e00-ab6c-36fb2211ef2d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -608,
        640
      ],
      "id": "cc4f2b02-f80b-4c64-a087-339de7ba4562",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OIYpCiJl9UATkgBV",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://kmsmerck.app.n8n.cloud/mcp/c84b67cf-0e51-4d5b-84e2-125a003d6cf9",
        "serverTransport": "httpStreamable",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -352,
        624
      ],
      "id": "88bc50e3-51a9-4dbd-a85f-029580967a86",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e44d3bb5-1942-4357-879f-805cec3ee0e6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        608
      ],
      "id": "ee7d8975-8bfc-447c-abb6-35ff6952c806",
      "name": "Webhook",
      "webhookId": "e44d3bb5-1942-4357-879f-805cec3ee0e6"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5392f750-6456-4c22-9c59-60fccc951903",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbaed5f6931a38c71097aaed346fdbab677ae19b56d41bdb307f52f162ef5ad4"
  },
  "id": "MGcKlzcdpKbab8WO",
  "tags": []
}
